<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Throwup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>231CB5C21F4D1E4900D2F904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231CB5D61F4D1E4900D2F904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231CB5E11F4D1E4900D2F904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
